<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="UTF-8">

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>go anywhere</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- General CSS -->
    <link rel="stylesheet" href="/modules/bootstrap-5.2.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/modules/bizland/css/aos.css">
    <link rel="stylesheet" href="/modules/bizland/css/bootstrap.min.css">
    <link rel="stylesheet" href="/modules/bizland/css/bootstrap-icons.css">
    <link rel="stylesheet" href="/modules/bizland/css/boxicons.min.css">
    <link rel="stylesheet" href="/modules/bizland/css/glightbox.min.css">
    <link rel="stylesheet" href="/modules/bizland/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/modules/bizland/css/style.css">

    <!-- General JS -->
    <script src="/modules/bootstrap-5.2.3-dist/js/bootstrap.min.js" ></script>
    <script src="/modules/bizland/js/purecounter_vanilla.js"></script>
    <script src="/modules/bizland/js/aos.js"></script>
    <script src="/modules/bizland/js/bootstrap.bundle.min.js"></script>
    <script src="/modules/bizland/js/glightbox.min.js"></script>
    <script src="/modules/bizland/js/isotope.pkgd.min.js"></script>
    <script src="/modules/bizland/js/swiper-bundle.min.js"></script>
    <script src="/modules/bizland/js/noframework.waypoints.js"></script>
    <script src="/modules/bizland/js/validate.js"></script>
    <script src="/modules/bizland/js/main.js"></script>
</head>
</html>