<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="/css/login_style.css">
    <link rel="stylesheet" href="/modules/bizland/css/bootstrap-icons.css">
</head>
<body>
<style>
.social-network {
    text-align: center;
    padding-top: 0.8rem;
}

.social-network p {
    text-align: left;
}

.social-network a {
    text-decoration: none;
    margin: 0 7px;
}

.social-network .img-container {
    margin-top: 1.5rem;
}

.social-network .img-google {
    border: 1px solid #d1deded9;
    border-radius: 8px;
}


</style>
<div class="center">
    <div class="container">
        <div class="text">
            Login Form
        </div>
        <div th:if="${error}" th:text="${exception}"></div>
        <form method="post">
            <div class="data">
                <label>loginId</label>
                <input type="text" name="loginId" required>
            </div>
            <div class="data">
                <label>Password</label>
                <input type="password" name="password" required>
            </div>
            <div class="forgot-pass">
<!--                <a href="#">Forgot Password?</a>-->
            </div>
            <div class="social-network">
                <p>Social Login</p>
                <div class="img-container">
                    <a data-name="google" href="/oauth2/authorization/google">
                        <img class="img-google" src="/images/oauth/google_btn.png" alt="google" width="69">
                    </a>
                    <a data-name="naver" href="/oauth2/authorization/naver">
                        <img src="/images/oauth/naver/btnG_아이콘사각.png" alt="naver" width="70">
                    </a>
                    <a data-name="kakao" href="/oauth2/authorization/kakao">
                        <img src="/images/oauth/kakao/kakaotalk_sharing_btn/kakaotalk_sharing_btn_medium.png" alt="kakao" width="70">
                    </a>
                </div>
            </div>
            <div class="btn">
                <div class="inner"></div>
                <button type="submit">login</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>