<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="/css/login_style.css">
    <link rel="stylesheet" href="/modules/bizland/css/bootstrap-icons.css">
</head>
<body>
<div class="center">
    <div class="container">
        <div class="text">
            Login Form
        </div>
        <div th:if="${error}" th:text="${exception}"></div>
        <form method="post">
            <div class="data">
                <label>loginId</label>
                <input type="text" name="loginId" required>
            </div>
            <div class="data">
                <label>Password</label>
                <input type="password" name="password" required>
            </div>
            <div class="forgot-pass">
<!--                <a href="#">Forgot Password?</a>-->
            </div>
            <div class="social-network">
                <p>Social Login</p>
                <a data-name="google" href="/oauth2/authorization/google">
                    <i class="bi bi-google"></i>
                </a>
                <a data-name="naver" href="/oauth2/authorization/naver">
                    N
                </a>
            </div>
            <div class="btn">
                <div class="inner"></div>
                <button type="submit">login</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>